<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Hey Everybody!</title>
    <head>
    <body>
    <p>My name is Nikhilesh Belulkar</p>
    <p>I'm almost a rising Sophomore at Columbia University in the city of New York</p>
    <p>I intend to be a computer science major at Columbia University</p> 
    <p>
        My favourite website is <a href="https://www.cricket.com.au/">here</a>
    </p>
    <p>Hello World!</p>
    </body>
</html>

